# Rename this file to .env or create a .env file with these variables.
# This file is used with Docker Compose.
# If you don't want to use Docker Compose you must set them as system environment variables or configure them in your IDE.

# Configure your DB_URL (using the Docker MySQL service), username, and password
DB_URL=
DB_USER=user
DB_PASSWORD=password

# Use a 512-bit encryption key
JWT_SECRET_KEY=secretkeysecretkeysecretkeysecretkey

# Expiration times must be in miliseconds
JWT_ACCESS_EXPIRATION=999999
JWT_REFRESH_EXPIRATION=999999999999

# If you don't want to use the WhatsApp API, leave these empty
WHATSAPP_IDENTIFICATION=
WHATSAPP_TOKEN=
